doctype html
html
  head
    title BiscuiTech
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5C4VKCP');
    // End Google Tag Manager
    link(rel="stylesheet" href="stylesheets/css/main.css")
    noscript
      link(rel="stylesheet" href="stylesheets/css/noscript.css")
  body.is-preload
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5C4VKCP', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)

    // Load Facebook SDK for JavaScript
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    // Your customer chat code
    .fb-customerchat(attribution='setup_tool' page_id='330183527489356' logged_in_greeting='Hey! What is your next big idea?' logged_out_greeting='Hey! What is your next big idea?')
    // Sidebar
    section#sidebar
      .inner
        img(src="assets/Biscui.svg", alt="Biscui Logo", srcset="").logo

        nav
          ul
            li
              a(href="#intro") Welcome
            li
              a(href="#one") Who I am
            li
              a(href="#two") What I do
            li
              a(href="#three") Get in touch
    // Wrapper
    #wrapper
      // Intro
      section#intro.wrapper.style1.fullscreen.fade-up
        #particles-js

        .inner
          h1 BiscuiTech
          p
            | Your online presence starts here.

          ul.actions
            li
              a.button.scrolly(href="#one") Learn more
      // One
      section#one.wrapper.style2.spotlights
        section
          a.image(href="#")
            img(src="images/ben-kolde-403278-unsplash.jpg" alt="" data-position="center center")
          .content
            .inner
              h2 Freelance
              p
                | I am here to provide the Bang for your Buck.
                | Period.
              //-ul.actions
                li
                  a.button(href="generic.html") Learn more
        section
          a.image(href="#")
            img(src="/images/kobu-agency-798655-unsplash.jpg" alt="" data-position="top center")
          .content
            .inner
              h2 Perfectionnist
              p
                | Low cost doesn't mean low quality. Being a freelancer, I have learned to arm myself with a plethora of hugely talented partners.
                | By using their expertise, you can rely on a distributed network of professionals.
              //-ul.actions
                li
                  a.button(href="generic.html") Learn more
        section
          a.image(href="#")
            img(src="/images/edho-pratama-152392-unsplash.jpg" alt="" data-position="25% 25%")
          .content
            .inner
              h2 Resourceful
              p
                | As a web developer, I know how tools are a huge part of anyone's work.
                | With the languages and techniques I have, we can build and distribute the platform you really want.
              //-ul.actions
                li
                  a.button(href="generic.html") Learn more
      // Two
      section#two.wrapper.style3.fade-up
        .inner
          h2 What I do
          p
            | Everything from your standard website to a full-fledge distributed CMS (Content Management System) enabled website. <br/>
            | <b>You name it</b>.
          .features
            section
              span.icon.major.fa-code
              h3 Static Website
              p
                | A static site is a series of <i>frozen</i> web pages, perfect for a landing page or rarely changing information website.
            section
              span.icon.major.fa-diamond
              h3 Single Page Application
              p
                | A Single Page App is an incredible fast website generated through a single page load. Fast & Sleek, who doesn't appreciate that?
            section
              span.icon.major.fa-cog
              h3 Server Side Rendering & SEO Optimization
              p
                | These days, you need your platform to be optimized for all search engines, like Google, to be seen more frequently by visitors. Using the newest and latest technology - like Server Side Rendering - will boost Google's algorithm and increase your search results.
            section
              span.icon.major.fa-desktop
              h3 CMS - Content Management System
              p
                | If you require the ability to personally change the content of your website, you need a CMS. A Content Management System is an interface through which you add, modify and delete the content and structure of your website. A CMS is the perfect solution for ever-evolving platforms!
            section
              span.icon.major.fa-lock
              h3 Choose your Design
              p
                | If you do not already have a design ready for production, you can choose from my wide portfolio or guide me through your very own ideas from the ground up.
            section
              span.icon.major.fa-lock
              h3 Weekly Content Addition
              p
                | In addition to website creation, I also manage the content of your website according to your needs.
          //-ul.actions
            li
              a.button(href="generic.html") Learn more
      // Three
      section#three.wrapper.style1.fade-up
        .inner
          h2 Get in touch
          p
            | For questions and inquiries, do not hesitate to write me!
            | I'll be glad to discuss about your needs and how I can meet them!
          .split.style1
            section
              form(method="post" action="/contact" id="contact-form" role="form")
                .fields
                  .field.half
                    label(for="name") Name
                    input#name(type="text" name="name")
                  .field.half
                    label(for="email") Email
                    input#email(type="text" name="email")
                  .field
                    label(for="message") Message
                    textarea#message(name="message" rows="5")
                ul.actions
                  li
                    button(type="submit") Send Message
            section
              ul.contact
                li
                  h3 Email
                  a(href="#") tech@biscuitech.me
                li
                  h3 Social
                  ul.icons
                    //-li
                      a.fa-twitter(href="#")
                        span.label Twitter
                    li
                      a.fa-facebook(href="#")
                        span.label Facebook
                    li
                      a.fa-github(href="#")
                        span.label GitHub
                    //-li
                      a.fa-instagram(href="#")
                        span.label Instagram
                    li
                      a.fa-linkedin(href="#")
                        span.label LinkedIn
    // Footer
    footer#footer.wrapper.style1-alt
      .inner
        ul.menu
          li © BiscuiTech. All rights reserved.
    // Scripts
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/jquery.scrollex.min.js")
    script(src="javascripts/jquery.scrolly.min.js")
    script(src="javascripts/browser.min.js")
    script(src="javascripts/breakpoints.min.js")
    script(src="javascripts/util.js")
    script(src="javascripts/main.js")
    script(src="javascripts/particles.js")
    script(src="javascripts/particles-app.js")
