extends layout

block content
  .jumbotron
    h1.display-3 Welcome
    hr.my-4
    .container
      p.lead This is the entry point into the different projects. Developement is ongoing, refer to the author for change logs.
  .container
    .row
      .col-md-4
        h2 Dashboard
        p
          a.btn.btn-primary(href='/dashboard', role='button') View details »
      .col-md-4
        h2 Calendar
        p
          a.btn.btn-outline-danger(href='#', role='button') View details »
      .col-md-4
        h2 Projects - Offline
        p
          a.btn.btn-outline-danger(href='#', role='button') View details »
    hr
