extends layout
block content
  .container#registerForm
    form(action='/login' method='post')
      .form-group
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email' name='username')
        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
      .form-group
        label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password', placeholder='Password' name='password')
        button.btn.btn-primary(type='submit' style={'margin-top':'20px'}) Submit
