body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h5{
  text-align: center;
}
#divmain{
  padding: 2rem;
}
#btn{
  margin: 0rem .5rem 0rem .5rem;
}
#getData{
  text-align: center;
  font-style: normal;
  color: white;
}
#registerForm{
  margin: 5rem auto;
  padding: 1rem;
  width: 350px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
#dashboard-header{
  margin-bottom: 0;
}